asn1crypto==0.24.0
branca==0.4.1
certifi==2020.12.5
chardet==4.0.0
cryptography==2.1.4
enum34==1.1.6
folium==0.8.3
idna==2.10
ipaddress==1.0.17
Jinja2==2.11.3
keyring==10.6.0
keyrings.alt==3.0
MarkupSafe==1.1.1
numpy==1.16.6
pygobject==3.26.1
pyxdg==0.25
requests==2.25.1
SecretStorage==2.3.1
six==1.15.0
urllib3==1.26.4
