<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<title>Contributors</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	<link rel="stylesheet" href="../static/css/style.css" type="text/css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="icon" href="../static/img/bot-icon.png">
</head>
<body>
    <nav class="navbar">
		<ul class="navbar-nav">
			<li class="logo">
				<a href="{{ url_for('home') }}" class="nav-link">
					<span class="link-text logo-text">BoboBot</span>
					<i class="fa fa-angle-double-right fa-lg"></i>
				</a>
			</li>

			<li class="nav-item">
				<a href="#" class="nav-link">
					<i class="fa fa-info-circle fa-lg" aria-hidden="true"></i>
					<span class="link-text">About</span>
				</a>
			</li>

			<li class="nav-item">
				<a href="{{ url_for('contributors') }}" class="nav-link">
					<i class="fa fa-users fa-lg" aria-hidden="true"></i>
					<span class="link-text">Contributors</span>
				</a>
			</li>

			<li class="nav-item">
				<a href="https://informatika.stei.itb.ac.id/~rinaldi.munir/Stmik/2020-2021/Tugas-Besar-3-IF2211-Strategi-Algoritma-2021.pdf" class="nav-link">
					<i class="fa fa-book fa-lg" aria-hidden="true"></i>
					<span class="link-text">Spek</span>
				</a>
			</li>
		</ul>
	</nav>

	<div class="container-fluid padding">
		<div class="row padding">
			<div class="col-md-6">
				<div class="card h-100">
					<img class="card-img-top" src="/static/img/arvin.jpg" alt="Arvin">
					<div class="card-body">
						<h4 class="card-title">Almeiza Arvin Muzaki / 13519066</h4>
						<p card-text>Almeiza Arvin Muzaki / 13519066</p>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card h-100">
					<img class="card-img-top" src="/static/img/aisha.jpg" alt="Aisha">
					<div class="card-body">
						<h4 class="card-title">Syarifah Aisha Geubrina Yasmin / 13519089</h4>
						<p>Syarifah Aisha Geubrina Yasmin / 13519089</p>
					</div>
				</div>
			</div>
		</div>

		<div class="row padding justify-content-center">
			<div class="col-md-6">
				<div class="card h-100">
					<img class="card-img-top" src="/static/img/rafi.jpg" alt="Rafi">
					<div class="card-body">
						<h4 class="card-title">Rafi Raihansyah Munandar / 13519154</h4>
						<p card-text>Rafi Raihansyah Munandar / 13519154</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src='https://use.fontawesome.com/releases/v5.0.13/js/all.js'></script>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>
</html>